<body>
  <nav>
    <div class="container-fluid">
      <div>
        <ul>
          <li><a class="navbar-brand" href="#">Home</a></li>
          <li><a routerLink='/search' routerLinkActive='active'>Search Repository</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="form-group">
  <form>
    <input class="form-control" type="text" placeholder="Enter a GitHub username" name="username" [(ngModel)] ="username" (keyup)="searchUser()">

    <div>
      <img class="profile-img img-thumbnail" src="{{user.avatar_url}}">
      <p style="font-weight:bold;">{{user.name}}</p>
      <p>{{user.login}}</p>
      <p>{{user.bio}}</p>
      <p>{{user.location}}</p>
      <p>{{user.email}}</p>
      <hr>
      <p>{{user.organisation}}<img src="{{user.organizations_url}}">
   </div>
  </form>
  </div>


</body>
<router-outlet></router-outlet>
