body {
  background-color:#FFFAFA
}
form {
  position: relative;
  top: 60px;
}
#control{
  width:50%;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
nav>ul>li {
  display: inline-block;
}
nav>ul {
  text-align: right;
}
nav ul li a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color:blue;
  font-family: 'Fredericka the Great', cursive;
}
nav{
  position: relative;
  top: 20px;
}
form {
  position:relative;
  top: 90px;
  padding-left: 30%;
}
p{
  margin-left:20%;
  font-family: 'Caveat Brush', cursive;
  font-size: 20px;
}
button{
  position: relative;
  top: 50px;
  margin-left:45%;
}
table{
  position: relative;
  top: 60%;
  font-family: 'Love Ya Like A Sister', cursive;
}
#search{
  margin-right: 30%;
}
table>p{
  font-style: italic;
  font-size: 12px;
}
#img{
  height: 60px;
  width: 60px;
  position: relative;
  top: 60px;
  margin-left: 50%;
}
#name{
  position: relative;
  top: 60px;
  margin-left: 45%;
  font-family: 'Special Elite', cursive;
}
h6{
  position: relative;
  top: 20px;
  font-family: 'Special Elite', cursive;
}
table{
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
 tr{
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
 td{
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
