body {

}
img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
nav>ul>li {
  display: inline-block;
}
nav>ul {
  text-align: right;
}
nav ul li a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color:orange;
}
nav{
  position: relative;
  top: 60px;
}
